<!DOCTYPE html>
<html>

<head>
  <title>
    <%= form %>
  </title>
  <% include templates/head.ejs %>
</head>

<body class="bg-secondary">
  <!-- Usuario-->
  <%if(tipo){%>
  <div class="container">
    <div class="card text-center">
      <% include templates/header.ejs %>
      <div class="card-body">
        <h1>
          <%= form %>
        </h1>
        <p>Bienvenido a la
          <%= form %>
        </p>
        <form action="/S_persona/<%=campos.ndocumento%>" method="POST" id="formPersona">
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="fnombre">Nombre</label>
              <input type="text" name="fnombre" id="fnombre" placeholder="Nombres" value="<%= campos.nombre%>" class="form-control"
                disabled>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="fapellido">Apellido</label>
              <input type="text" name="fapellido" id="fapellido" placeholder="Apellidos" value="<%= campos.apellido%>"
                class="form-control" disabled>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="fedad">Edad</label>
              <input type="number" name="fedad" id="fedad" min="0" value="<%= campos.edad%>" class="form-control">
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="ffechanacimiento">Fecha de nacimiento</label>
              <input type="date" name="ffechanacimiento" id="ffechanacimiento" value="<%= campos.fechanacimiento%>"
                class="form-control">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="fcelular">Celular</label>
              <input type="tel" name="fcelular" id="fcelular" value="<%= campos.celular%>" class="form-control"
                placeholder="Ej: 555-555-5555">
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="femail">Correo electrónico</label>
              <input type="email" name="fcorreo" class="form-control" value="<%= campos.correo%>" id="femail"
                placeholder="Email" disabled>
            </div>
          </div>
          <div class="form-group">
            <p>Genero </p>
            <div class="form-check form-check-inline">
              <input type="radio" name="fgenero" id="gmasculino" value="masculino" class="form-check-input">
              <label for="gmasculino" class="form-check-label">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="fgenero" id="gfemenino" value="femenino" class="form-check-input">
              <label for="gfemenino" class="form-check-label">Femenino</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="fgenero" id="gotro" value="otro" class="form-check-input">
              <label for="gotro" class="form-check-label">Otro</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="ftdocumento">Tipo de documento</label>
              <select name="ftdocumento" id="ftdocumento" class="custom-select" required disabled>
                <option selected value disabled>
                  <%= campos.tdocumento%>
                </option>
                <option value="cedula">Cédula</option>
                <option value="identidad">Tarjeta de identidad</option>
                <option value="pasaporte">Pasaporte</option>
              </select>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="ndocumento">Número de documento</label>
              <input type="text" name="fndocumento" id="ndocumento" value="<%= campos.ndocumento%>" placeholder="Numero de documeto"
                class="form-control" disabled>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="fpaisnacimiento">País de nacimiento</label>
              <input type="text" name="fpaisnacimiento" id="fpaisnacimiento" value="<%= campos.paisnacimiento%>" class="form-control" placeholder="País de Nacimiento">
            </div>
            <div class="col-sm-12 col-md-6 d-none" id="bloqueExtranjero">
              <div class="form-group">
                <label for="ftiemporesidencia">¿Cuánto tiempo llevas en Bolumbia?</label>
                <input type="text" name="ftiemporesidencia" id="ftiemporesidencia" value="<%= campos.tiemporesidencia%>" class="form-control" placeholder="Ej: 2 Años">
              </div>
            </div>
            <div class="form-group col">
              <label for="fciudadnacimiento">Ciudad de nacimiento(seas o no de Bolumbia)</label>
              <input type="text" name="fciudadnacimiento" id="fciudadnacimiento" value="<%= campos.ciudadnacimiento%>" class="form-control" placeholder="Ej: Medelumbia">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="fniveleducativo">Nivel educativo</label>
              <select name="fniveleducativo" class="custom-select custom-select-lg" id="fniveleducativo">
                <option selected disabled value=""><%= campos.niveleducativo%></option>
                <option value="preescolar">Preescolar</option>
                <option value="primaria">Primaria</option>
                <option value="secundaria">Secundaria</option>
                <option value="tecnica">Técnica</option>
                <option value="universitaria">Universitaria</option>
                <option value="postgrado">Postgrado</option>
                <option value="maestria">Maestría</option>
                <option value="doctorado">Doctorado</option>
                <option value="ninguno">Ninguno</option>
              </select>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="fetnia">Etnía</label>
              <select name="fetnia" id="fetnia" class="custom-select custom-select-lg">
                <option selected disabled value="<%= campos.etnia%>">Escoge tu Etnía</option>
                <option value="fmestizo">Mestizo</option>
                <option value="fblanco">Blanco</option>
                <option value="fafrocolombiano">Afrobolumbiano</option>
                <option value="fmulato">Mulato</option>
                <option value="findigena">Indigena</option>
                <option value="fgitano">Gitano</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="freligion">Religión</label>
              <input type="text" name="freligion" id="freligion" value="<%= campos.religion%>" class="form-control" placeholder="Religión">
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="festadocivil">Estado civil</label>
              <select name="festadocivil" id="festadocivil" class="custom-select">
                <option selected disabled value="<%= campos.estadocivil%>">Seleccione su estado civil</option>
                <option value="fsoltero">Soltero/a</option>
                <option value="fcomprometido">Comprometido/a</option>
                <option value="funionl">Unión libre</option>
                <option value="fcasado">Casado/a</option>
                <option value="fdivorciado">Divorciado/a</option>
                <option value="fviudo">Viudo/a</option>
              </select>
            </div>
          </div>
          <p>Ocupación </p>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input type="checkbox" name="focupacion" id="fempleado" class="form-check-input" value="empleado">
              <label for="fempleado" class="form-check-label">Empleado</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" name="focupacion" id="fdesempleado" class="form-check-input" value="desempleado">
              <label for="fdesempleado" class="form-check-label">Desempleado</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" name="focupacion" id="findependiente" class="form-check-input" value="independiente">
              <label for="findependiente" class="form-check-label">Independiente</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" name="focupacion" id="festudiante" class="form-check-input" value="estudiante">
              <label for="festudiante">Estudiante</label>
            </div>
          </div>
          <fieldset>
            <legend>Si trabajas</legend>
            <div class="row">
              <div class="form-group col-sm-12 col-md-6">
                <label for="fhorastsemanal">¿Cuántas horas a la semana?</label>
                <input type="number" name="fhorastsemanal" id="fhorastsemanal" value="<%= campos.horastsemanal%>" min="0" class="form-control">
              </div>
              <div class="form-group col-sm-12 col-md-6">
                <label for="fingresomensual">¿Cuál es su ingreso mensual?</label>
                <input type="text" name="fingresomensual" id="fingresomensual" value="<%= campos.ingresomensual%>" placeholder="Ej: 900.000 mensual" class="form-control">
              </div>
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary" id="submitPersona">Enviar información</button>
        </form>
      </div>
    </div>
  </div>
  <%} else {%>
  <div class="container">
    <div class="card text-center">
      <% include templates/header.ejs %>
      <div class="card-body">
        <h1>
          <%= form %>
        </h1>
        <p>Bienvenido a la
          <%= form %>
        </p>
        <form action="/S_persona/formpersona" method="POST" id="formPersona">
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="fnombre">Nombre</label>
              <input type="text" name="fnombre" id="fnombre" placeholder="Nombres" class="form-control" required>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="fapellido">Apellido</label>
              <input type="text" name="fapellido" id="fapellido" placeholder="Apellidos" class="form-control" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="fedad">Edad</label>
              <input type="number" name="fedad" id="fedad" min="0" class="form-control" required>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="ffechanacimiento">Fecha de nacimiento</label>
              <input type="date" name="ffechanacimiento" id="ffechanacimiento" class="form-control" required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="fcelular">Celular</label>
              <input type="tel" name="fcelular" id="fcelular" class="form-control" placeholder="Ej: 555-555-5555" required>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="femail">Correo electrónico</label>
              <input type="email" name="fcorreo" class="form-control" id="femail" placeholder="Email" required>
            </div>
          </div>
          <div class="form-group">
            <p>Genero </p>
            <div class="form-check form-check-inline">
              <input type="radio" name="fgenero" id="gmasculino" value="masculino" class="form-check-input" required>
              <label for="gmasculino" class="form-check-label">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="fgenero" id="gfemenino" value="femenino" class="form-check-input" required>
              <label for="gfemenino" class="form-check-label">Femenino</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="radio" name="fgenero" id="gotro" value="otro" class="form-check-input" required>
              <label for="gotro" class="form-check-label">Otro</label>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="ftdocumento">Tipo de documento</label>
              <select name="ftdocumento" id="ftdocumento" class="custom-select" required>
                <option selected disabled>Elige tu tipo de documento</option>
                <option value="cedula">Cédula</option>
                <option value="identidad">Tarjeta de identidad</option>
                <option value="pasaporte">Pasaporte</option>
              </select>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="ndocumento">Número de documento</label>
              <input type="text" name="fndocumento" id="ndocumento" placeholder="Numero de documeto" class="form-control"
                required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="fpaisnacimiento">País de nacimiento</label>
              <input type="text" name="fpaisnacimiento" id="fpaisnacimiento" class="form-control" placeholder="País de Nacimiento"
                required>
            </div>
            <div class="col-sm-12 col-md-6 d-none" id="bloqueExtranjero">
              <div class="form-group">
                <label for="ftiemporesidencia">¿Cuánto tiempo llevas en Bolumbia?</label>
                <input type="text" name="ftiemporesidencia" id="ftiemporesidencia" class="form-control" placeholder="Ej: 2 Años">
              </div>
            </div>
            <div class="form-group col">
              <label for="fciudadnacimiento">Ciudad de nacimiento(seas o no de Bolumbia)</label>
              <input type="text" name="fciudadnacimiento" id="fciudadnacimiento" class="form-control" placeholder="Ej: Medelumbia"
                required>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="fniveleducativo">Nivel educativo</label>
              <select name="fniveleducativo" class="custom-select custom-select-lg" id="fniveleducativo" required>
                <option selected disabled value="">Escoge tu nivel educativo</option>
                <option value="preescolar">Preescolar</option>
                <option value="primaria">Primaria</option>
                <option value="secundaria">Secundaria</option>
                <option value="tecnica">Técnica</option>
                <option value="universitaria">Universitaria</option>
                <option value="postgrado">Postgrado</option>
                <option value="maestria">Maestría</option>
                <option value="doctorado">Doctorado</option>
                <option value="ninguno">Ninguno</option>
              </select>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="fetnia">Etnía</label>
              <select name="fetnia" id="fetnia" class="custom-select custom-select-lg" required>
                <option selected disabled value="">Escoge tu Etnía</option>
                <option value="fmestizo">Mestizo</option>
                <option value="fblanco">Blanco</option>
                <option value="fafrocolombiano">Afrobolumbiano</option>
                <option value="fmulato">Mulato</option>
                <option value="findigena">Indigena</option>
                <option value="fgitano">Gitano</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="freligion">Religión</label>
              <input type="text" name="freligion" id="freligion" class="form-control" placeholder="Religión" required>
            </div>
            <div class="form-group col-sm-12 col-md-6">
              <label for="festadocivil">Estado civil</label>
              <select name="festadocivil" id="festadocivil" class="custom-select" required>
                <option selected disabled value="">Seleccione su estado civil</option>
                <option value="fsoltero">Soltero/a</option>
                <option value="fcomprometido">Comprometido/a</option>
                <option value="funionl">Unión libre</option>
                <option value="fcasado">Casado/a</option>
                <option value="fdivorciado">Divorciado/a</option>
                <option value="fviudo">Viudo/a</option>
              </select>
            </div>
          </div>
          <p>Ocupación </p>
          <div class="form-group">
            <div class="form-check form-check-inline">
              <input type="checkbox" name="focupacion" id="fempleado" class="form-check-input" value="empleado">
              <label for="fempleado" class="form-check-label">Empleado</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" name="focupacion" id="fdesempleado" class="form-check-input" value="desempleado">
              <label for="fdesempleado" class="form-check-label">Desempleado</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" name="focupacion" id="findependiente" class="form-check-input" value="independiente">
              <label for="findependiente" class="form-check-label">Independiente</label>
            </div>
            <div class="form-check form-check-inline">
              <input type="checkbox" name="focupacion" id="festudiante" class="form-check-input" value="estudiante">
              <label for="festudiante">Estudiante</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="hidden" name="idcensador" id="idcensador"  value="<%= campos.ndocumento%>">
            </div>
          </div>
          <fieldset>
            <legend>Si trabajas</legend>
            <div class="row">
              <div class="form-group col-sm-12 col-md-6">
                <label for="fhorastsemanal">¿Cuántas horas a la semana?</label>
                <input type="number" name="fhorastsemanal" id="fhorastsemanal" min="0" class="form-control">
              </div>
              <div class="form-group col-sm-12 col-md-6">
                <label for="fingresomensual">¿Cuál es su ingreso mensual?</label>
                <input type="text" name="fingresomensual" id="fingresomensual" placeholder="Ej: 900.000 mensual" class="form-control">
              </div>
            </div>
          </fieldset>
          <button type="submit" class="btn btn-primary" id="submitPersona">Enviar información</button>
        </form>
      </div>
    </div>
  </div>
  <%}%>
  <% include templates/scripts.ejs %>
  <script src="scripts/persona.js"></script>
</body>

</html>