<!DOCTYPE html>
<html>
  <head>
    <title><%= form %></title>
    <% include templates/head.ejs %>
  </head>
  <body>
    <% include templates/header.ejs %>
    <h1><%= form %></h1>
    <p>Bienvenido a la <%= form %></p>
    <form name="addStudent" action="/S_persona/addStudent" method="post"></form>
<!--
    <form name="addStudent" action="/S_persona/addStudent" method="post">

    <% for(var exKey in campos.persona) { %>
      <div>
        <label for=<%= campos.persona[exKey] %>><%= campos.persona[exKey] %> :</label>
        <input type="text" id=<%= campos.persona[exKey] %> name=<%= campos.persona[exKey] %> />
      </div>
    <% } %>

    <div class="button">
        <button type="submit">Send your message</button>
    </div>-->


    Nombre : <input type="text" name="fnombre"><br>
    Apellido : <input type="text" name="fapellido"><br>
    <p>Genero : </p>
    Masculino : <input type="radio" name="fgenero">
    Femenino : <input type="radio" name="fgenero">
    Otro : <input type="radio" name="fgenero"><br>
    Edad : <input type="number" name="fedad"><br>
    Celular : <input type="text" name="fcelular"><br>
    Correo electrónico : <input type="email" name="fcorreo"><br>
    Fecha de Nacimiento : <input type="date" name="ffecganacimiento"><br>
    <p>Tipo de documento : </p>
    Cédula : <input type="radio" name="ftdocumento">
    Tarjeta identidad : <input type="radio" name="ftdocumento">
    Pasaporte : <input type="radio" name="ftdocumento"><br>
    Número de documento : <input type="text" name="fndocumento"><br>
    <p>Si no eres de Bolumbia :</p>
    País de nacimiento : <input type="text" name="fpaisnacimiento"><br>
    Cuánto tiempo llevas en Bolumbia : <input type="text" name="ftiemporesidencia"><br>
    Ciudad de nacimiento(seas o no de Bolumbia) : <input type="text" name="fciudadnacimiento"><br>
    <p>Nivel educativo : </p>
    <select name="fniveleducativo">
      <option value="fpreescolar">Preescolar</option>
      <option value="fprimaria">Primaria</option>
      <option value="fsecundaria">Secundaria</option>
      <option value="ftecnica">Técnica</option>
      <option value="funiversitaria">Universiaria</option>
      <option value="fpostgrado">Postgrado</option>
    </select>
    <p>Etnía : </p>
    <select name="fetnia">
      <option value="fmestizo">Mestizo</option>
      <option value="fblanco">Blanco</option>
      <option value="fafrocolombiano">Afrocolombiano</option>
      <option value="fmulato">Mulato</option>
      <option value="findigena">Indigena</option>
      <option value="fgitano">Gitano</option>
    </select><br>
    <br>
    Religión : <input type="text" name="freligion"><br>
    <p>Estado civil : </p>
    <select name="festadocivil">
      <option value="fsoltero">Soltero/a</option>
      <option value="fcomprometido">Comprometido/a</option>
      <option value="funionl">Unión libre</option>
      <option value="fcasado">Casado/a</option>
      <option value="fdivorciado">Divorciado/a</option>
      <option value="fviudo">Viudo/a</option>
    </select><br>
  
    <p>Ocupación : </p>
    Empleado: <input type="radio" name="focupacion">
    Desempleado: <input type="radio" name="focupacion">
    Independiente: <input type="radio" name="focupacion">
    Estudiante: <input type="radio" name="focupacion">
   <br>
   <p>Si trabajas</p> <br> 
   Cuántas horas a la semana: <input type="number" name="fhorastsemanal"><br>
   Cuál es su ingreso mensual: <input type="text" name="fingresomensual"><br>
    <button type="submit">Send your message</button>

    </form>
    
    
    <% include templates/scripts.ejs %>
  </body>
</html>
